.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &.small {
    padding: 1rem;

    .spinner {
      width: 24px;
      height: 24px;
    }

    .loading-text {
      font-size: 0.875rem;
    }
  }

  &.medium {
    .spinner {
      width: 40px;
      height: 40px;
    }
  }

  &.large {
    padding: 3rem;

    .spinner {
      width: 60px;
      height: 60px;
    }

    .loading-text {
      font-size: 1.125rem;
    }
  }
}

.spinner {
  border: 3px solid $light-gray;
  border-top: 3px solid $primary-color;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

.loading-text {
  color: $dark-gray;
  margin: 0;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
