// Base styles
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
  color: $darker-gray;
  background-color: $light-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $global-margin;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: $global-margin;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: $global-transition;

  &:hover {
    color: darken($primary-color, 10%);
    text-decoration: underline;
  }
}

// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $global-margin;
  padding-left: 1.5rem;
}

// Images
img {
  max-width: 100%;
  height: auto;
}

// Forms
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

input,
select,
textarea {
  @include form-input;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

// Utility Classes
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.text-primary {
  color: $primary-color;
}
.text-success {
  color: $success-color;
}
.text-warning {
  color: $warning-color;
}
.text-alert {
  color: $alert-color;
}

.bg-primary {
  background-color: $primary-color;
}
.bg-light {
  background-color: $light-gray;
}
.bg-white {
  background-color: $white;
}

.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}

.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}

.hidden {
  display: none !important;
}
.visible {
  display: block !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
