// Import variables
@use "./variables" as vars;

// Media Queries
@mixin breakpoint($size) {
  @if $size == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $size == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == large {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $size == xlarge {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

// Flexbox mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Button Styles
@mixin button-style($color) {
  background-color: $color;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: vars.$global-radius;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: vars.$global-transition;

  &:hover {
    background-color: darken($color, 10%);
  }

  &:disabled {
    background-color: lighten($color, 50%);
    cursor: not-allowed;
  }
}

// Form Input Styles
@mixin form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid vars.$medium-gray;
  border-radius: vars.$global-radius;
  font-size: 1rem;
  transition: vars.$global-transition;

  &:focus {
    outline: none;
    border-color: vars.$primary-color;
    box-shadow: 0 0 0 2px rgba(vars.$primary-color, 0.2);
  }

  &.is-invalid {
    border-color: vars.$error-color;
  }
}
